/* ########################################################################################## */
/* ########################################## BODY ########################################## */
/* ########################################################################################## */

body {
	background: #e8e8e8;
	font-family: "Trebuchet MS";
	margin: 0;
	padding: 0;
}

/* ########################################################################################## */
/* ######################################### HEADER ######################################### */
/* ########################################################################################## */

#logo h1 {
	font-size: 2.53em;
	font-weight: normal;
	letter-spacing: 0.07em;
	margin: 0;
	padding-left: 10%;
	text-transform: uppercase;
	background-color: black;
	color: #ffffff;
	float: left;
}

/* ########################################################################################## */
/* ####################################### NAVIGATION ####################################### */
/* ########################################################################################## */

ul {
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	background-color: black;
	padding-left: 10%;
}

li {
	float: left;
}

li a, .dropbtn {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 14px;
	text-decoration: none;
	font-weight: bold;
}

li a:hover, .dropdown:hover .dropbtn {
	background-color: #333;
}

li.dropdown {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #333;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.dropdown-content a {
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: DimGray;
}

.dropdown:hover .dropdown-content {
	display: block;
}

/* ########################################################################################## */
/* ########################################## DIVS ########################################## */
/* ########################################################################################## */

/* PADDING DESIGN DIV */
#padding {
	padding-top: 1%;
	padding-left: 3%;
	float: left;
}

/* COMPUTERCRAFT DIV */
#computercraft {
	border: 2px dashed #dcdcdc;
	border-radius: 6px;
	background-color: white;
	padding: 2%;
}

/* IP|PORT STATUS DIV */
#status-ip {
	border: 2px dashed #dcdcdc;
	border-radius: 6px;
	background-color: white;
	padding: 4%;
	font-size: 20px;
}

/* ONLINE STATUS BOX */
#statusbox {
	border: 2px dashed #dcdcdc;
	border-radius: 6px;
	background-color: white;
	padding: 4%;
	width: 70%;
}

/* ONLINE STATUS LABEL */
#label {
	text-align: right;
	margin-right: 1em;
	min-width: 4em;
	color: #666666;
	font-weight: bold;
	float: left;
}

/* ########################################################################################## */
/* #################################### DOWNLOAD BUTTONS #################################### */
/* ########################################################################################## */

#ComputercraftButton {
	background-color: #f5f5f5;
	border-radius: 6px;
	border: 1px solid #dcdcdc;
	display: inline-block;
	cursor: pointer;
	color: #666666;
	font-family: arial;
	font-size: 16px;
	font-weight: bold;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #ffffff;
}

#ComputercraftButton:hover {
	background-color: #ebebeb;
}

#ComputercraftButton:active {
	position: relative;
	top: 1px;
}

/* ########################################################################################## */
/* ######################################### MOBILE ######################################### */
/* ########################################################################################## */

@media only screen and (max-device-width: 480px) {

	/* LOGO */
	#logo h1 {
		float: inherit;
		padding-left: inherit;
		text-align: center;
	}

	/* NAVIGATION */
	ul {
		padding-left: inherit;
	}

}
